.burger-button {
  max-width: 22px;

  &__button {
    width: 34.42px;
    height: 27.53px;

    @include reset-button;

    @include tablet {
      max-width: 22px;
      height: 17.6px;
    }
  }

  &__lines {
    display: block;
    width: 34.42px;
    height: 3.44px;
    background-color: var(--color-white);
    text-align: center;
    box-shadow: 0 12px var(--color-white), 0 -12px var(--color-white);

    @include tablet {
      width: 22px;
      height: 2.2px;
      box-shadow: 0 7px var(--color-white), 0 -7px var(--color-white);
    }
  }
}