.message-block {
  display: flex;
  column-gap: 15px;
  justify-content: center;
  font-size: 14px;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 14px;
    width: 140px;
    height: 46px;

    &_grey {
      background-color: var(--color-white-opacity22);

      @include laptop {
        background-color: var(--color-black);
        column-gap: 11px;
      }

      @include tablet {
        max-width: 32px;
        max-height: 32px;
        column-gap: 12px;

        span {
          display: none;
        };
      }

      &_viber {
        @include laptop {
          width: 71px;
          height: 32.5px;
          column-gap: 5px;
        }
      }

      &_telegram {
        @include laptop {
          width: 94.5px;
          height: 32.5px;
          column-gap: 5px;
        }
      }
    }

    &__white {

    }
  }
}